@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(font/ZKwULyCG95tk6mOqHQfRBCEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(font/-_Ctzj9b56b8RgXW8FArifk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(font/yQiAaD56cjx1AooMTSghGfY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(font/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(font/WmVKXVcOuffP_qmCpFuyzSEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(font/JbtMzqLaYbbbCL9X6EvaI_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


body {
    margin: 0;
}


body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
header{
     background-color: #2456de;
     width: 100%;
     padding: 2px 0;
     position: fixed;
     z-index: 99;
}
div.container {
    position: fixed;
    top: 4  ;
    z-index: 300;
    width: 100%;
    background: url("../stripes.png");
    background-image: url(../stripes.png)
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

#logo {
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 10px;
    max-width: 50px;
    margin-top: 4;
    margin-left: 10px
    min-width: 80px;
    background-color: rgba(51, 51, 51, 0);
    float: left;
    cursor: pointer;
}
html {
    height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
}
/* Remove margins and padding from the list, and add a black background color */

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding-left: 0%;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0);
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a, .dropbtn{
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    padding-bottom: 16px;
    text-decoration: none;
    transition: 0.1s;
    font-size: 0.9em;
    font-weight: 100;
    font-family: monospace;
}
a span {
  display: inline:block;
  position: relative;
  transition: 0.4s;
}

a span:after {
  content: ' >';
  position: absolute;
  opacity: 0;
  font-family: sans-serif;
  top: 0;
  right: -5px;
  transition: 0.9s;
}

a:hover span {
  padding-right: 30px;
}

a:hover span:after {
  opacity: 1;
  right: 0;
}

/* Change background color of links on hover */
ul.topnav  .dropdown:hover .dropbtn {
    background-color:#757779;
    color:#d0d0d0;
}
li a:hover{
    background-color: rgba(117, 119, 121, 0.58);
    color:#d0d0d0;
}
li.dropdown{
    display: inline-block;

}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgba(117, 119, 121, 0.85);
    min-width: 230px;
    box-shadow: 0px 10px 10px 0px rgba(193, 36, 84, 0.63);
    border-bottom: 5px solid #333;
    z-index: 1;

}
.dropdown-content a{
    color: black;
    padding: 0px 0px;
    text-decoration: none;
    display: block;
    text-align: left;

}

.dropdown-content a:hover{
    background-color: rgba(117, 119, 121, 0.66);
    color:#d0d0d0;
    text-align: left;
}
.dropdown:hover .dropdown-content{
    display: block;

}



/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:770px){
#logo {

    padding-bottom: 0px;
    padding-left: 10px;
    margin-top: 2px;
    min-width: 50px;
    float: left;
    cursor: pointer;
}
}

@media screen and (max-width:770px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:770px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}


body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Verdana,sans-serif;
    -webkit-font-smoothing: antialiased;
}
/* slite show */
* {box-sizing:border-box}

/*more-part*/
section.banner{
    max-height: 200px;
    background-color: #666;

}
section.banner h2{
  max-height: 100px;
  padding: 10px 15px 2px 15px;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #fff;
}

section.banner h3{
  max-height: 100px;
  padding: 20px 15px 25px 15px;
  text-align: center;
}

@media screen and (max-width:500px){
  section.banner h2{
    max-height: 50px;
    padding: 5px 7.5px 0px 7.5px;
    font-size: 0.5em;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 0.5px solid #fff;
  }
  section.banner h3{
    max-height: 50px;
    padding: 5px 7.5px;
    text-align: center;
    font-size: 1em;
  }
}
section.banner-img{
  max-height: 350px;
  width: 90%;
  margin: 2px auto;
  position: relative;
  overflow: hidden;
}
section.banner-img img{
  width: 100%;

}
div.caption{

}
div.caption-heading h2{
  position: absolute;
  display: inline-block;
  top: 10%;
  width: 100%;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #333;
}
div.caption-para p{
  position: absolute;
  top: 0;
}
.box{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 90%;
  height: auto;
  margin: 5px auto;
  background-color: #111;
  justify-content: space-between;
}
.box div{
    background-color: #666;
    border: 1px solid #fff;
    height: 300px;
    flex: 1;
}
.box div:nth-child(3){
  /*-webkit-box-ordinal-group: -1;
  -moz-box-ordinal-group: -1;
  -ms-flex-order: -1;
  -webkit-order: -1;
  order: -1;
}
-webkit-box-align: center;
-moz-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
*/
flex: 2;
}
